*{
    margin: 0;
    padding: 0;
}

.notification-container{
    background-color: lightgray;
    transition: opacity 900ms ease;
    opacity: 1;
}

.rollingWheel-container{
    width: 200px;
    margin: 25px 20px 25px 20px;
    display: flex;
    flex-flow: column wrap;
    height: 450px;
}

.rollingWheel-item {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px 40px;
    
    font-size: 15px;
    text-align: center;
    font-family: Tahoma;

    background-color: wheat;
    transition: background-color, color 1000ms ease;

    box-sizing: border-box;
}

.rollingWheel-selected-item{
    background-color: lightblue;
    transition: background-color, color 150ms ease;
}

.rollingWheel-winner-item{
    background-color: darkgreen;
    color: white;
    transition: background-color, color 200ms ease;
}

.roller-button{
    color: white;
    background-color: lightcoral;
    padding: 15px 45px;
    border-radius: 10px;
    font-size: 21px;
    margin-left: 20px;
    cursor: pointer;
    
    border: none;
    outline: none;
}